<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.techBlogServlets.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.techBlogServlets.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.techBlogServlets.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.techBlogServlets.EditServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddPost</servlet-name>
    <servlet-class>com.techBlogServlets.AddPostServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AddPost</servlet-name>
    <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>com.techBlogServlets.LikeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/LikeServlet</url-pattern>
  </servlet-mapping>
</web-app>
